* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

.conteiner {
    max-width: 942px;
    margin: 0 auto;
    padding: 0 10px;
}

.header_top{
    padding-top: 64px;
    padding-bottom: 101px;
}

.header_top {
    padding-top: 64px;
    padding-bottom: 101px;
    display: flex;
    justify-content: space-between;
}

.logo {
    transition: all 1.8s;
}

.logo:hover {
    opacity: 0.5;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    grid-gap: 0 69px;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    font-family: Spectral;
    font-size: 12px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.header_info-disc h1 {
    font-family: Spectral;
font-size: 48px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0px;
text-align: center;
color: rgb(0, 0, 0);
padding-top: 95px;
padding-bottom: 35px;
text-transform: uppercase;
}

.header_info-disc p {
    font-family: Spectral;
font-size: 48px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0px;
text-align: center;
color: rgb(0, 0, 0);
}

.header_info {
    background-image: url(./Rectangle.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.inv{
    background: rgba(52, 198, 189, 0.80);
    padding-top: 44px;
    padding-bottom: 23px;
    transform: translateY(205px);

}
.inv h1{
    color: #FEFEFE;
text-align: center;
font-family: Spectral;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 87.7%; /* 42.096px */
max-width: 580px;
margin: 0 auto;
padding-bottom: 10px;
}
.inv p{
    color: #FDFDFD;
text-align: center;
font-family: Open Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
main h2{
    color: #000000;
text-align: center;
font-family: Spectral;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 87.7%; /* 42.096px */
max-width: 580px;
margin: 0 auto;
padding-bottom: 10px;
}
main p2{
    color: #000000;
text-align: center;
font-family: Open Sans;
font-size: 22px;
font-style: normal;
font-weight: 100;
line-height: normal;
}
.curort {
    background-image: url(./3250580\ —\ копия\ 1.png);
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    background: rgba(255, 255, 255, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
    transform: translateY(34px);

}
.div3 {
    display: flex;
    justify-content: center;
}

.abx {
    width: 610px;
    background-color: rgb(222, 222, 222);
    padding: 26px 34px;
    text-align: justify;
    transform: translate(-48px,42px);
}

.fox {
    width: 145px;
    background-color: rgb(222, 222, 222);
    padding: 3px 3px;
    text-align: justify;
    transform: translate(417px,57px);
    border-radius: 20px;
border: 1px solid #1A1424;
}
.bi {
    text-align: justify;
    transform: translate(-157px,-15px);
}

.ai {
    color: #312C3A;
    text-align: center;
    font-family: Spectral;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    grid-gap: 0 42px;
}
.flex-container {
    width: 257px;
    height: 340px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #DDDADA;
    background: #FFF;
}
.flex-elm2 {
    width: 257px;
    height: 261px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #DDDADA;
    background: #FFF;
}
.flex-elm3 {
    width: 257px;
    height: 261px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #DDDADA;
    background: #FFF;
}
.nil {
    width: 145px;
    background-color: #95f393;
    padding: 3px 3px;
    text-align: justify;
    transform: translate(-40px,33px);
    border-radius: 20px;
border: 1px solid #ffffff;
}
.nil2 {
    width: 145px;
    background-color: rgb(255, 255, 255);
    padding: 3px 3px;
    text-align: justify;
    transform: translate(39px,10px);
    border-radius: 20px;
border: 1px solid #95f393;
}
.nil3 {
    width: 145px;
    background-color: rgb(255, 255, 255);
    padding: 3px 3px;
    text-align: justify;
    transform: translate(39px,10px);
    border-radius: 20px;
border: 1px solid #95f393;
}
.den {
    color: #ffffff;
text-align: center;
font-family: Spectral;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: normal;
flex-shrink: 0;
.h5 {
    color: #ffffff;
    text-align: center;
    font-family: Spectral;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    flex-shrink: 0;
            width: 515px;
            padding: 8px 207px;
            text-align: justify;
            transform: translate(209px,12px); 
}
}
.mat {
    color: #ffffff;
text-align: center;
font-family: Spectral;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
flex-shrink: 0;
flex-shrink: 0;
        width: 515px;
        padding: 8px 207px;
        text-align: justify;
        transform: translate(209px,12px);
}
.mat2 {
    color: #ffffff;
    text-align: center;
    font-family: Spectral;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    padding: 8px 34px;
    text-align: center;
}

.mat3 {
    color: #ffffff;
text-align: center;
font-family: Spectral;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
    width: 380px;
height: 82px;
flex-shrink: 0;
        width: 515px;
        padding: 8px 34px;
        text-align: justify;
        transform: translate(209px,-5px);
}
.den {
    background: #B58C5D;
    min-height: 250px;
    
}
.den2 {
    background-image: url(./3250580\ —\ копия\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    padding-top: 150px;
}
.footer__container ul li a {
    font-family: Spectral;
    font-size: 12px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.aaron ul li a {
    font-family: Spectral;
    font-size: 12px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing:0px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px){
    .nav ul li a {
        color: red;
    }

    .nav ul {
        grid-gap: 0 35px;
    }

    .inv h1 {
        font-size: 36px;
        max-width: 420px;
    }

    .inv {
        transform: translateY(80px);
    }

    .abx {
        width: 524px;
        transform: translate(-99px,42px);
    }

    .bi {
        transform: translate(-71px,-15px);
    }

    .fox {
        padding: 1px 21px;
        transform: translate(284px,57px);
    }

    .mat {
        padding: 8px 106px;
    }

    .mat3 {
        transform: translate(125px,-7px);
    }
    ul li a {
        font-size: 21px;
        line-height: 41px;
    }

    .curort {
        min-height: 400px;
    }
    .nav ul li a {
        font-size: 14px;
    }

    .footer__container {
        display: flex;
    }

    .conteiner {
        padding: 0 0px;
    }
    .flex-elm {
        width: 170px;
    }

    .flex-container {
        height: 396px;
    }
}

@media screen and (max-width: 420px){ 

    element.style {
        width: 30px;

    }
    .bi {
        transform: translate(4px,-11px);
    }

    .abx {
        width: 239px;
        transform: translate(-95px,39px);
    }

    .fox {
        transform: translate(2px,48px);
        width: 102px;
    }

    .flex-elm {
        width: 30px;
    }

    .flex-elm2 {
        width: 30px;
    }

    .flex-elm3 {
        width: 20px;
    }

    .mat {
        transform: translate(60px,12px);
    }
    .header_top {
        flex-direction: column;
    }
    .header_top {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .mat3 {
        transform: translate(-47px,-9px);
        font-size: 5px
    }

    .flex-elm h4 {
        font-size: 8px;
    }

    .flex-container {
        height: 366px;
    }

    .flex-elm p {
        font-size: 8px;
    }

    .nil {
        width: 107px;
        padding: 1px 3px;
        transform: translate(-40px,12px);
    }

    h4 {
        font-size: 8px;
    }
    p {
        font-size: 8px;
    }
    .nil2 {
        width: 107px;
        padding: 1px 3px;
        transform: translate(-5px,7px);
    }

    .nil3 {
        width: 103px;
        padding: 2px -2px;
        transform: translate(1px,1px);
    }

    .footer__container {
        justify-content: center;
    flex-direction: column;
    align-items: center;
    }
}